$grey-color: #ccc;
$light-grey-color: #eee;
$white-color: #fff;

body {
  height: 100%;
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $light-grey-color;
}

.container {
  display: flex;
  justify-content: center;
  height: 650px;
  margin-top: 15px;
}

.chat-members {
  flex: 0 0 270px;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
}

.chat-window {
  flex: 0 0 600px;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
}
