$dark-grey-color: #696969;
$grey-color: #ccc;
$light-grey-color: #eee;
$white-color: #fff;

body {
  height: 100%;
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $light-grey-color;
}

.Container {
  display: flex;
  justify-content: center;
  height: 570px;
  margin-top: 15px;
}

.ChatList {
  flex: 0 0 230px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
  cursor: pointer;
}

.Chat {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid $grey-color;

  &:hover {
    background-color: $light-grey-color;
  }

  &-selected {
    @extend .Chat;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid $grey-color;
    background-color: $dark-grey-color;

    &:hover {
      background-color: $dark-grey-color;
    }

    span {
      color: $white-color;
    }

    .LastMessageTimestamp {
      color: $white-color;
    }

    .LastMessage {
      color: $white-color;

      &-unread {
        background-color: $dark-grey-color;
        color: $white-color;
      }
    }

    .LoadingDots {
      color: $white-color;
      background-color: $dark-grey-color;
    }
  }


  span {
    width: 140px;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.ChatInfo {
  height: 25px;
}

.LastMessageTimestamp {
  float: right;
  margin-top: 5px;
  margin-right: 7px;
  font-size: 13px;
  color: #939393;
}

.LastMessage {
  max-width: 190px;
  float: left;
  margin-left: 8px;
  margin-top: 2px;
  color: #656565;
  font-size: 13.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  &-unread {
    @extend .LastMessage;
    background-color: $light-grey-color;

  }
}

.ChatWindow {
  flex: 0 0 500px;
  display: block;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;

  &-empty {
    flex: 0 0 500px;
    box-shadow: 0px 0px 5px $grey-color;
    background-color: $white-color;
    text-align-last: center;
    line-height: 35;
    color: $dark-grey-color;
  }
}

.MessageForm {
  height: 110px;

  textarea {
    width: 360px;
    height: 68px;
    float: left;
    margin: 8px;
    resize: none;
    overflow: hidden;
  }

  button {
    width: 98px;
    height: 73px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: url(https://dreamerrr.me/media/chat/send-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline:none;
  }
}

.NewsLine {
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.MessagesBlock {
  height: 460px;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
}

.MessagesBlockDate {
  margin-top: 12px;
  color: $dark-grey-color;
  font-size: 13px;
  text-align: center;
}

.Message {
  margin: 9px;
  padding: 3px;

  &-unread {
    margin: 9px;
    padding: 3px;
    background-color: $light-grey-color;
  }
}

.MessageInfo {
  height: 20px;
}

.MessageSender {
  float: left;
  font-size: 13px;
  font-weight: 600;
  color: #42648b;
}

.MessageTimestamp {
  float: right;
  font-size: 13px;
  color: #939393;
}

.MessageText {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.UsersList {
  flex: 0 0 200px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
}

.User {
  height: 57px;
  text-align: center;
  border-bottom: 1px solid $grey-color;

  div {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  button {
    margin-top: 5px;
  }
}

.LoadingDots {
  font-size: 13px;
  background-color: $white-color;
  color: $dark-grey-color;
}

.LoadingDots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}

.Loader {
  color: #333;
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 25px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
