$dark-grey-color: #696969;
$grey-color: #ccc;
$light-grey-color: #eee;
$white-color: #fff;

body {
  height: 100%;
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $light-grey-color;
}

.Container {
  display: flex;
  justify-content: center;
  height: 570px;
  margin-top: 15px;
}

.ChatList {
  flex: 0 0 230px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
}

.Chat {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid $grey-color;

  &:hover {
    background-color: $light-grey-color;
  }

  &-selected {
    @extend .Chat;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid $grey-color;
    background-color: $dark-grey-color;

    &:hover {
      background-color: $dark-grey-color;
    }

    span {
      color: $white-color;
    }

    .Timestamp {
      color: $white-color;
    }

    .LastMessage {
      color: $white-color;

      &-unread {
        background-color: $dark-grey-color;
        color: $white-color;
      }
    }
  }


  span {
    width: 140px;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.ChatInfo {
  height: 25px;
}

.Timestamp {
  float: right;
  margin-top: 5px;
  margin-right: 7px;
  font-size: 13px;
  color: #939393;
}

.LastMessage {
  max-width: 190px;
  float: left;
  margin-left: 8px;
  margin-top: 2px;
  color: #656565;
  font-size: 13.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  &-unread {
    @extend .LastMessage;
    background-color: $light-grey-color;

  }
}

.ChatWindow {
  flex: 0 0 500px;
  display: block;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;

  &-empty {
    flex: 0 0 500px;
    box-shadow: 0px 0px 5px $grey-color;
    background-color: $white-color;
  }
}

.MessageForm {
  height: 300px;

  textarea {
    width: 400px;
    height: 80px;
    float: left;
    margin: 8px;
    resize: none;
    overflow: hidden;
  }

  button {
    width: 70px;
    height: 86px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.MessagesBlock {
  height: 465px;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Message {
  margin: 9px;

  &-unread {
    margin: 9px;
    background-color: $light-grey-color;
  }
}

.UsersList {
  flex: 0 0 200px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px $grey-color;
  background-color: $white-color;
}

.User {
  height: 57px;
  text-align: center;
  border-bottom: 1px solid $grey-color;

  div {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  button {
    margin-top: 5px;
  }
}
